*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    font-weight: 700;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.navigation ul{
    position: relative;
}
.navigation ul li {
    text-align: center;
    list-style: none;
}
.navigation ul li a {
    color: #333;
    text-decoration: none;
    font-size: 2em;
    padding: 5px 20px;
    display: inline-flex;
    transition: 0.5;

}
.navigation ul:hover li a {
    color: #0002;

}

.navigation ul li:hover a {
    color:#000;
    background: #fff;
}

.navigation ul li a:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate( -50% ,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
    
}

.navigation ul li a:hover:before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
    left: 50%;
    width: 1800px;
    height: 1800px;
     
}

.navigation ul li:nth-child(6n+1) a:before{
    background: #81ecec;
}
.navigation ul li:nth-child(6n+2) a:before{
    background: #FF7675;
}
.navigation ul li:nth-child(6n+3) a:before{
    background: #55efc4;
}
.navigation ul li:nth-child(6n+4) a:before{
    background: #a29bfe;
}
.navigation ul li:nth-child(6n+5) a:before{
    background: #fd79a8;
}
.navigation ul li:nth-child(6n+6) a:before{
    background: #ffeaa7;
}

/*navbar*/

#btn-close-menu img {  
    height: 30px;
    width: 30px;
    cursor: pointer; 
    transition: all 0.9s ease-in-out 0s; 
    
   
}

#btn-close-menu img:hover {
     transform: rotate(360deg);
     transition: all 0.9s ease-in-out 0s; 
    }

.navbar-accueil{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    padding-top: 30px;
    padding-right: 30px;

}



/*contact*/
 

.navbar-accueil a:hover{
color: #ffeaa7;
transition: color 0.3s linear;
} 

.contact{
    text-align: center;
    margin-top: 10%;
    height: 200px;
       
}
.line  {
    font-size: 30px;
    height: 200px;
    text-decoration: none;
    font-weight: 700;
    color: #353433;  
    line-height: 40px;
    
}
a {
    text-decoration: none;
    color: #353433;  
}

.contact a:hover{
    color: #ffeaa7;
    transition: color 0.9s ease-out;
    
    opacity: 1.5;
}
/*btn*/

.middle{
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    background: none;
    border: 2px solid #353433;  
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    outline: none;
  }
  .btn:hover{
    color:#353433;  
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffeaa7;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  }
  .btn1::before{
    transform: scaleX(0);
  }
  
  .btn1:hover::before{
    transform: scaleX(1);
  }
  
  
  /*competence*/

  #competence h1{ 
      
      color:  #FF7675;
      font-size: 50px;
      text-transform: uppercase;
     
      
  }
.border{
    border-bottom: 2px solid   #FF7675; 
    width: 200Px; 
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
      
}

  h1{
      text-align: center;
      
  }
  .list-competence{
      text-align: center;
      line-height:40px;
    
  }
  .list-competence ol li {
      
    color:  #FF7675; 
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
  
  }  
  p{
      color: #353433;
      font-size: 16px; 
      font-weight: 300;
    
  }
  img{ 
    height: 30px;
    width: 30px;
    margin-bottom: 20px;

  }
  .upimg{
    text-align: center;
    padding-top: 30px;
  }
  a img:hover{     
      opacity: 0.5;
      transition: opacity .4S;
}
/*formation*/

#competenceformation h1{ 
      
    color: #81ecec;
    font-size: 50px;
    text-transform: uppercase;
   
    
}
.border-competenceformation{
  border-bottom: 2px solid  #81ecec;
  width: 200Px; 
  display: inline-block;
  justify-content: center;
  margin-bottom: 20px;
    
}

h1{
    text-align: center;
    
}
.list-competenceformation{
    text-align: center;
    line-height:40px;
  
}
.list-competenceformation ol li {
    
  color:  #81ecec;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;

}  
p{
    color: #353433;
    font-size: 16px; 
    font-weight: 300;
  
}
img{ 
  height: 30px;
  width: 30px;
  margin-bottom: 20px;

}
.upimg{
  text-align: center;
  padding-top: 30px;
}
a img:hover{     
    opacity: 0.5;
    transition: opacity .4S;
}

/*hobby*/
#hobby h1{ 
      
    color:  #fd79a8;
    font-size: 50px;
    text-transform: uppercase;
   
    
}
.border-hobby{
  border-bottom: 2px solid   #fd79a8;
  width: 200Px; 
  display: inline-block;
  justify-content: center;
  margin-bottom: 20px;
    
}

h1{
    text-align: center;
    
}
.list-hobby{
    text-align: center;
    line-height:40px;
  
}
.list-hobby ol li {
    
  color:   #fd79a8;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;

}  
p{
    color: #353433;
    font-size: 16px; 
    font-weight: 300;
  
}
img{ 
  height: 30px;
  width: 30px;
  margin-bottom: 20px;

}
.upimg{
  text-align: center;
  padding-top: 30px;
}
a img:hover{     
    opacity: 0.5;
    transition: opacity .4S;
} 


/*parcours*/
 #competenceparcours h1{ 
      
      color:   #a29bfe;
      font-size: 50px;
      text-transform: uppercase;
     
      
  }
.border-parcours{
    border-bottom: 2px solid   #a29bfe;
    width: 200Px; 
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
      
}

  h1{
      text-align: center;
      
  }
  .list-parcours{
      text-align: center;
      line-height:40px;
    
  }
  .list-parcours ol li {
      
    color:   #a29bfe;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
  
  }  
  p{
      color: #353433;
      font-size: 16px; 
      font-weight: 300;
    
  }
  img{ 
    height: 30px;
    width: 30px;
    margin-bottom: 20px;

  }
  .upimg{
    text-align: center;
    padding-top: 30px;
  }
  a img:hover{     
      opacity: 0.5;
      transition: opacity .4S;
} 